<%- include("partials/header"); -%>

<nav class="navbar navbar-light navbar-expand-sm" style="border-bottom: 1.5px solid black; background-color: #9CC3D5FF;">
   <div class="navbar-brand row mr-auto" style="font-family: 'Josefin Sans', sans-serif;">JS Medium</div>

<!--     Search feed    -->
   <div class=" row mt-3 mr-5">
      <!--  Search Bar  -->
      <div class="col-md-9 ml-auto">
         <form action="/search" method="POST">
            <div class="input-group mb-3">
               <input type="text" name="artFind" class="form-control" placeholder="Search for Articles">
               <div class="input-group-append">
                  <button class="btn btn-outline-dark" type="submit" id="button-addon2">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                     <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                     </svg>
                  </button>
               </div>
            </div>
         </form>
      </div>
      <!--  Compose Section -->
      <div class="col-md-2 ml-auto">
         <form action="/Compose" method="POST">
            <div class="form-group">
               <a href="/compose">
                  <span class="btn btn-dark mb-2">Write</span>
               </a>
            </div>
         </form>
      </div>
   </div>
</nav>

</head>
<body>
   <div class="" style="background-color: #9CC3D5FF;">
      <div class=""><img src="Images/Developer.svg" ALIGN="right" class="mx-auto d-block img-dev"></div>
      <div class="text-left">
         <h1 class="cont-head text-blue p-10" >Read what's trending <br><br> Write what's on your mind</h1>
      </div>
   </div>
   <div class="container mt-5 mb-5" >
   <% articles.forEach(function(article){  %>
      <h1 class="cont-head mt-3"><a href="/articles/<%= article._id %>" style="color: #020202;"> <%= article.title %> </a></h1>
      <p class="cont-body mb-3"> <%= article.body.substring(0, 30) %> </p>
   <% }) %>
   </div>

<%- include("partials/footer"); -%>
