<%- include("partials/header"); -%>

<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
      <p class="navbar-brand">JS Medium</p>

<!--     Search feed    -->
   <div class="row mt-5 mb-5">
      <!--  Search Bar  -->
      <div class="col-md-8">
         <form action="/search" method="POST">
            <div class="input-group mb-3">
               <input type="text" name="artFind" class="form-control" placeholder="Search for Articles">
               <div class="input-group-append">
                  <button class="btn btn-outline-dark" type="submit" id="button-addon2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                  </button>
               </div>
            </div>
         </form>
      </div>
      <!--  Compose Section -->
      <div class="col-md-2" style="float: left;">
         <form action="/Compose" method="POST">
            <div class="form-group">
               <a href="/compose">
                  <span class="btn btn-dark mb-2">Compose</span>
               </a>
            </div>
         </form>
      </div>
   </div>
</nav>

</head>
<body>
   <div class="container mt-5">

   <h1>Home</h1>
   <p> <%= homeContent %> </p>
   <% articles.forEach(function(article){  %>
      <h1> <%= article.title %> </h1>
      <p> <%= article.body%> </p>
   <% }) %>
<%- include("partials/footer"); -%>
